.caption {
  color:red;
  font-size:25px;
  height: 795px;
  margin: 10px;
  display: flex;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

.caption marquee {
  align-self: flex-end;
}


.GeneratedMarquee {
  font-family:'Comic Sans MS';
  font-size:larger;
  font-weight:bold;
  line-height:1.3em;
  color:#330099;
  background-color:#66CC99;
  animation: floatText infinite linear;
  width: 200%;

  }